/* 行为相关颜色 */
$k-color-primary: rgb(21,85,154);//海涛蓝
$k-color-success: rgb(27,167,132);//竹绿
$k-color-warning:  rgb(250,142,22);//秋葵黄
$k-color-default: rgb(122,115,116);//锌灰
$k-color-error: rgb(237,90,101);//艳红