/* 行为相关颜色 */
$k-color-primary: rgb(21,85,154);//海涛蓝
$k-color-success: rgb(27,167,132);//竹绿
$k-color-warning:  rgb(250,142,22);//秋葵黄
$k-color-default: rgb(122,115,116);//锌灰
$k-color-error: rgb(237,90,101);//艳红

$k-h2-color:rgb(17,119,176);//牵牛花蓝

$k-back-color:rgb(238,247,242);//月白

$k-border-color:rgb(226,225,228);//芡食白

$k-bg-color-hover:#f1f1f1;

$k-h1-fz:36rpx;
$k-h2-fz:32rpx;
$k-h3-fz:28rpx;
$k-h7-fz:24rpx;

